<div>
    <%= form_for :session, url: login_path do |f| %>
        <div class="columns">
            <div class="column is-half">
                <div class="column is-one-quarter">
                    <%= f.label :username %>
                    <%= f.text_field :username, placeholder: 'Enter Username' %>
                </div>

                <div class="column is-one-quarter">
                    <%= f.label :password %>
                    <%= f.password_field :password, placeholder: 'Enter Password' %>
                </div>
                <br />
                
                <%= f.submit 'Login', class: 'button is-primary'%>
            </div>
        </div>
    <% end %>
</div>