<% if programmer.errors.any? %>
    <div id='error_explanation'>
        <h2>
            <%= pluralize(programmer.errors.count, 'error') %>
            prohibited this programmer from being saved:
        </h2>

        <ul>
            <% programmer.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_for programmer do |f| %>
    <table>
        <tr>
            <div>
                <td><%= f.label 'Username:' %></td>
                <td><%= f.text_field :username, :placeholder => 'Enter Username' %></td>
            </div>
        </tr>

        <tr>
            <div>
                <td><%= f.label 'Password:' %></td>
                <td><%= f.password_field :password, :placeholder => 'Enter Password' %></td>
            </div>
        </tr>

        <tr>
            <div>
                <td><%= f.label 'Password Confirmation:' %></td>
                <td><%= f.password_field :password_confirmation, :placeholder => 'Confirm Password' %></td>
            </div>
        </tr>

        <tr>
            <div>
                <td><%= f.label 'First Name:' %></td>
                <td><%= f.text_field :first_name, :placeholder => 'Enter First Name' %></td>
            </div>
        </tr>

        <tr>
            <div>
                <td><%= f.label 'Last Name:' %></td>
                <td><%= f.text_field :last_name, :placeholder => 'Enter Last Name' %></td>
            </div>
        </tr>

        <tr>
            <div>
                <td><%= f.label 'Email:' %></td>
                <td><%= f.text_field :email, :placeholder => 'Enter Email' %></td>
            </div>
        </tr>

        <tr>
            <div>
                <td><%= f.label 'Phone Number:' %></td>
                <td><%= f.text_field :phone_number, :placeholder => 'Enter Phone Number' %></td>
            </div>
        </tr>

        <tr>
            <div>
                <% if current_programmer.is_project_manager %>
                    <td><%= f.label 'Project Manager Permissions:' %></td>
                    <td><%= f.check_box :is_project_manager %></td>
                <% end %>
            </div>
        </tr>
</table>
    
    <%= f.submit class: 'button is-primary' %>
<% end %>