<div>
    <label>Full Name: </label>
    <%= @programmer.full_name %>
</div>

<div>
    <label>Last Login At: </label>
    <%= @programmer.format_last_login %>
</div>

<div>
    <label>Created At: </label>
    <%= @programmer.format_created_at %>
</div>

<% if current_programmer.id == @programmer.id || current_programmer.is_project_manager %>
    <%= link_to "Update Profile", edit_programmer_path(@programmer), class: 'button is-warning' %>
    <%= button_to "Delete Programmer", programmer_path(@programmer), class: 'button is-danger', method: :delete, data: {confirm: "Are you sure you want to delete this Project?"} %>
<% end %>

<br />

<div class="content">
    <label>Assignments: </label>
    <% if !@programmer.assignments.empty?%>
        <ul>
            <% @programmer.assignments.each do |assignment| %>
                
                <li>
                    <% if assignment.is_completed %>
                        <strong>**COMPLETED**</strong>
                    <% end %>

                    <%= link_to assignment.task, assignment_path(assignment) %>
                </li><br />
            <% end %>
        </ul>
    <% else %>
        None
    <% end %>
</div>