<div>
    <label>Full Name: </label>
    <%= @programmer.full_name %>
</div>

<% if current_programmer.is_project_manager %>
    <%= button_to "Delete Programmer", programmer_path(@programmer), class: 'button is-danger', method: :delete %>
<% end %>

<div>
    <label>Last Login At: </label>
    <%= @programmer.format_last_login %>
</div>

<div>
    <label>Created At: </label>
    <%= @programmer.format_created_at %>
</div>

<div>
    <label>Updated At: </label>
    <%= @programmer.format_updated_at %>
</div>

<br />

<div class="content">
    <label>Assignments: </label>
    <% if !@programmer.assignments.empty?%>
        <ul>
            <% @programmer.assignments.each do |assignment| %>
                <li><%= assignment.task %></li><br />
            <% end %>
        </ul>
    <% else %>
        None
    <% end %>
</div>