<div>
    <label>First Name: </label>
    <%= @programmer.first_name %>
</div>

<div>
    <label>Last Login At: </label>
    <%= @programmer.format_last_login %>
</div>

<div>
    <label>Created At: </label>
    <%= @programmer.format_created_at %>
</div>

<div>
    <label>Updated At: </label>
    <%= @programmer.format_updated_at %>
</div>


<%= button_to "Delete Programmer", programmer_path(@programmer), class: 'button is-danger', method: :delete %>