<div>
    <label>First Name: </label>
    <%= @programmer.first_name %>
</div>

<% if @programmer.is_project_manager %>
    <%= button_to "Delete Programmer", programmer_path(@programmer), class: 'button is-danger', method: :delete %>
<% end %>

<div>
    <label>Last Login At: </label>
    <%= @programmer.format_last_login %>
</div>

<div>
    <label>Created At: </label>
    <%= @programmer.format_created_at %>
</div>

<div>
    <label>Updated At: </label>
    <%= @programmer.format_updated_at %>
</div>

<br />

<div>
    <% if !@programmer.is_project_manager %>
        <label>Assignments: </label>
        <% if !@programmer.assignments.empty?%>
            <ul>
                <% @programmer.assignments.each do |assignment| %>
                    <li><%= assignment.task %></li><br />
                <% end %>
            </ul>
        <% else %>
            None
        <% end %>
    <% end %>
</div>