<% if assignment.errors.any? %>
    <div class='content' id='error_explanation'>
        <h2>
            <%= pluralize(assignment.errors.count, 'error') %>
            prohibited this project from being saved:
        </h2>

        <ul>
            <% assignment.errors.full_messages.each do |msg| %>
                <strong><li><%= msg %></li></strong>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_for assignment do |f| %>
    <table>
        <tr>
            <th><%= f.label :project %>:</th>
            <td><%= f.collection_select :project_id, Project.all, :id, :name, include_blank: 'Select a Project' %></td>
        </tr>

        <tr>
            <div>
                <th><%= f.label 'Programmer Assigned:' %></th>
                <td><%= f.collection_select :programmer_id, Programmer.all, :id, :full_name, include_blank: 'Select a Programmer' %></td>
            </div>
        </tr>

        <tr>
            <div>
                <th><%= f.label :task %>:</th>
                <td><%= f.text_area :task, placeholder: 'Enter Task' %></td>
            </div>
        </tr>

        <tr>
            <div>
                <th><%= f.label 'Completed?' %></th>
                <td><%= f.check_box :is_completed %></td>
            </div>
        </tr>
    </table>

    <%= f.submit class: 'button is-primary'%>
<% end %>