<% if assignment.errors.any? %>
    <div id='error_explanation'>
        <h2>
            <%= pluralize(assignment.errors.count, 'error') %>
            prohibited this project from being saved:
        </h2>

        <ul>
            <% assignment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

    <%= form_for assignment do |f| %>
        <div>
            <%= f.label :project %>
            <%= f.collection_select :project_id, Project.all, :id, :name, include_blank: 'Select a Project' %>
        </div>

        <div>
            <%= f.label 'Programmer Assigned:' %>
            <%= f.collection_select :programmer_id, Programmer.all, :id, :full_name, include_blank: 'Select a Programmer' %>
        </div>

        <div>
            <%= f.label :is_completed %>
            <%= f.check_box :is_completed %>
        </div>

        <div>
            <%= f.label :task %>
            <%= f.text_area :task, placeholder: 'Enter Task' %>
        </div>

        <div>
            <%= f.label :assigned_at %>
            <%= f.datetime_field :assigned_at, placeholder: 'Enter Date and Time' %>
        </div>

        <%= f.submit class: 'button is-primary'%>
    <% end %>