<%= form_tag(assignments_path, method: :get) do %>
    <%= label_tag 'Search Tasks: '%>
    <%= text_field_tag 'query' %>
    <%= submit_tag 'Search', class: 'button is-primary' %>
<% end %><br />

<% @assignments.each do |assignment| %>
    <table>
        <tr>
            <th><label>For: </label></th>
            <td><%= assignment.project.name %></td>
        </tr>

        <tr>
            <th><label>Task: </label></th>
            <td><%= link_to assignment.task, assignment_path(assignment) %></td>
        </tr>

        <tr>
            <th><label>Assigned At: </label></th>
            <td><%= assignment.assigned_at %></td>
        </tr>

        <tr>
            <th><label>Completed?: </label></th>
            <td>
                <% if assignment.is_completed == true %>
                    YES
                <% else %>
                    NO
                <% end %>
            </td>
        </tr>

        <tr>
            <th width=250px><label>Programmer Assigned:</label></th>
            <td><%= assignment.full_name %></td>
        </tr>
    </table><br />  
<% end %>