<%= form_tag(assignments_path, method: :get) do %>
    <%= text_field_tag 'query' %>
    <%= submit_tag 'Search', class: 'button is-primary' %>
<% end %><br />

<% @assignments.each do |assignment| %>
    <label>For: </label>
    <%= assignment.project.name %><br />

    <label>Task: </label>
    <%= link_to assignment.task, assignment_path(assignment) %><br />

    <label>Assigned At: </label>
    <%= assignment.assigned_at %><br />

    <label>Completed?: </label>
    <% if assignment.is_completed == true %>
        YES
    <% else %>
        NO
    <% end %><br />

    <label>Programmer Assigned:</label>
    <%= assignment.programmer.full_name %>
    <br /><br />
<% end %>