<div class="columns">
    <div class="column is-half">
        <label>Project: </label>
        <%= @assignment.project.name %><br />

        <label>Task: </label>
        <%= @assignment.task %><br />

        <label>Assigned At: </label>
        <%= @assignment.assigned_at %><br />

        <label>Completed? </label>
        <%= @assignment.completed? %><br />

        <label>Programmer Assigned: </label>
        <%= @assignment.full_name %><br /><br />

        <% if !@assignment.is_completed? && current_programmer.id == @assignment.programmer_id %>
            <%= link_to 'Completed?', edit_assignment_path(@assignment), class: "button is-success" %>
        <% end %>

        <%= link_to 'Add Comment', new_assignment_comment_path(@assignment), class: "button is-warning" %>

        <% if current_programmer.is_project_manager %>
            <%= link_to "Update Assignment", edit_assignment_path(@assignment), class: 'button is-warning'%>
            <%= button_to "Delete Assignment", assignment_path(@assignment), class: 'button is-danger', method: :delete, data: {confirm: 'Delete Assignment?'}  %>
        <% end %>

    </div>

    <div class="column is-one-quarter">
        <h2>Comments:</h2><br />
        <% @assignment.comments.each do |comment| %>
            <div>    
                <label>Title: </label>
                <%= link_to comment.title, assignment_comment_path(@assignment, comment) %>
                <br />

                <label>By: </label>
                <%= link_to comment.full_name, programmer_path(comment.programmer) %>
                <br />

                <label>Message: </label>
                <%= comment.content %>
                <br /><br />
            </div>
        <% end %>
    </div>
</div>