<div class="columns">
    <div class="column is-half">
        <label>Project: </label>
        <%= @assignment.project.name %><br />

        <label>Task: </label>
        <%= @assignment.task %><br />

        <label>Assigned At: </label>
        <%= @assignment.assigned_at %><br />

        <label>Completed? </label>
        <%= @assignment.completed? %><br />

        <label>Programmer Assigned: </label>
        <%= @assignment.programmer.full_name %><br /><br />

        <%= link_to 'Add Comment', new_assignment_comment_path(@assignment), class: "button is-warning" %>
    </div>

    <div class="column is-half">
        <h2>Comments:</h2><br />
        <% @assignment.comments.each do |comment| %>
            <label>Title: </label>
            <%= comment.title %><br />

            <label>Content: </label>
            <%= comment.content %><br /><br />
        <% end %>
    </div>>
</div>