<% if comment.errors.any? %>
    <div class='content' id='error_explanation'>
        <h2>
            <%= pluralize(comment.errors.count, 'error') %>
            prohibited this comment from being saved:
        </h2>

        <ul>
            <% comment.errors.full_messages.each do |msg| %>
                <strong><li><%= msg %></li></strong>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_for [assignment, comment] do |f| %>
    <div>
        <%= f.label 'Project: ' %>
        <%= comment.assignment.project.name %>
    </div>

    <div>
        <%= f.label 'Assignment: '%>
        <%= comment.assignment.task %>
    </div>

    <div>
        <%= f.label :title %>
        <%= f.text_field :title, placeholder: 'Enter Title' %>
    </div>

    <div>
        <%= f.label :content %>
        <%= f.text_area :content, placeholder: 'Enter Content' %>
    </div>
    
    <br />

    <%= f.submit class: 'button is-primary'%>
<% end %>