<label>Project Name: </label>
<%= @comment.assignment.project.name %><br />

<label>Project Assignment: </label>
<%= @comment.assignment.task %><br /><br />

<label>Comment Title: </label>
<%= @comment.title %><br />

<label>Commenter: </label>
<%= @comment.full_name %><br />

<label>Comment: </label>
<%= @comment.content %><br /><br />

<% if current_programmer.id == @comment.programmer_id || current_programmer.is_project_manager %>
    <%= link_to "Update Comment", edit_assignment_comment_path(@comment.assignment_id), class: 'button is-warning'%>
    <%= button_to "Delete Comment", assignment_comment_path(@comment), class: 'button is-danger', method: :delete, data: {confirm: 'Delete Comment?'}  %>
<% end %>