<div>
    <label>Project Name: </label>
    <%= @project.name %><br />

    <label>Description: </label>
    <%= @project.description %><br />

    <label>Created at: </label>
    <%= @project.format_created_at %><br />

    <label>Updated at: </label>
    <%= @project.format_updated_at %><br />

    <label>Due Date: </label>
    <%= @project.due_date.strftime("%B %e, %Y at %l:%M%p") %><br />

    <label>Status: </label>
    <%= @project.status %><br /><br />
</div>

<% if current_programmer.is_project_manager %>

    <div class="columns">
        <%= link_to "Update Project", edit_project_path(@project), class: 'button is-warning' %>
        <%= button_to "Delete Project", project_path(@project), class: 'button is-danger', method: :delete, data: {confirm: "Are you sure you want to delete this Project?"} %>
    </div>
<% end %>