<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <title>Project Management Rails Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href='/' class="navbar-item">
        Home
      </a>
      </div>
    </div>

    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
              <% if !current_programmer %>
                <a href='/programmers/new' class="button is-primary">Create Account</a>
                <a href='/login' class="button is-light">Login</a>
                <%= link_to 'Login with GitHub', '/auth/github', class: "button is-primary"%>
              <% else %>
                <%= link_to 'Logout', logout_path, class: 'button is-danger', method: 'post' %>
              <% end %>
            </div>
        </div>
    </div>
</nav>

    <% flash.keys.each do |type| %>
      <div class="text-center alert alert-warning">
        <%= flash[type] %>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>